<!DOCTYPE html>
   <html>
    <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <body>
        <h1 action="{{ url_for('home') }}"></h1>
        <video src="/static/video/video_home.mp4"autoplay loop muted plays-inline class="myvideo"></video>
        <div class="content">
            <h1> Welcome To Home</h1>
            <div class="buton">
            <a href="http://127.0.0.1:5000/login"><button  class="button" type="button" >Login</button></a>
            <a href="http://127.0.0.1:5000/register"><button class= "button" type="button">Signup</button></a>
        </div>
        </div>

    </body>
</head>
</html>

    </body>
</html>